/*!
 * ORV Magz v1.0.0 (http://orvynproject.com)
 * Copyright 2016 ORVYN PROJECT, Inc.
 */
@font-face {
  font-family: 'Varela';
  src: url(../../assets/fonts/Varela-Regular.ttf); }
@font-face {
  font-family: 'Orbitron';
  src: url(../../assets/fonts/Orbitron-Regular.ttf); }
#header {
  background-color: #5B0F0E;
  margin-bottom: -20px; }
  #header .top-line {
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.2); }
  #header .navbar {
    background-color: #5B0F0E;
    border: none;
    border-radius: 0; }
    #header .navbar .head-navbar {
      margin: 10px auto; }
    #header .navbar .list-navbar {
      background-color: white; }
  #header .form-group .form-control {
    background-color: transparent;
    color: #AAA; }
  #header .form-group .btn {
    background-color: transparent !important;
    color: #AAA;
    border: 1px solid #AAA; }
  #header a:focus, #header a:hover {
    color: red; }

@media (max-width: 768px) {
  #header .list-inline {
    text-align: center; }
  #header .social-icons.pull-right {
    float: none !important;
    text-align: center; }
  #header .navbar-toggle:focus, #header .navbar-toggle:hover {
    background-color: transparent; } }
#slider {
  background-color: black; }
  #slider .no-padding {
    padding: 0; }
    #slider .no-padding #top-slider .item {
      display: block;
      width: 100%;
      height: 490px;
      background-position: center;
      background-size: cover; }
      #slider .no-padding #top-slider .item .well {
        background-color: rgba(0, 0, 0, 0.8);
        color: #999999;
        border: none;
        border-radius: 0;
        margin-bottom: 0; }
    #slider .no-padding .cover-img {
      overflow: hidden;
      position: relative; }
      #slider .no-padding .cover-img .caption {
        height: 100%;
        width: 100%;
        position: absolute;
        z-index: 1;
        opacity: 0;
        -webkit-transition: opacity 0.5s ease;
        -moz-transition: opacity 0.5s ease;
        -ms-transition: opacity 0.5s ease;
        transition: opacity 0.5s ease;
        background-color: rgba(0, 0, 0, 0.8);
        text-align: center; }
        #slider .no-padding .cover-img .caption p {
          padding-top: 30%;
          color: white; }
          #slider .no-padding .cover-img .caption p span {
            background-color: rgba(255, 0, 0, 0.3);
            padding: 5px; }
      #slider .no-padding .cover-img:hover .caption {
        top: 0;
        opacity: 1; }
  #slider #cover-square .row a img {
    width: 100%; }

html, body {
  font-family: "Varela"; }

a {
  color: #999999;
  font-weight: bold;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  transition: 0.5s; }
  a:focus, a:hover {
    text-decoration: none;
    color: #5B0F0E; }

img {
  -webkit-filter: grayscale(50%);
  -ms-filter: grayscale(50%);
  filter: grayscale(50%);
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  transition: 0.5s; }
  img:hover {
    -webkit-filter: grayscale(0);
    -ms-filter: grayscale(0);
    filter: grayscale(0); }

section {
  padding-top: 50px;
  padding-bottom: 50px; }

section#slider {
  padding: 0;
  position: relative; }
  section#slider #preload-slider {
    position: absolute; }

section#breaking-news {
  background-color: #5B0F0E; }
  section#breaking-news .button-label {
    font-weight: bold;
    border: 1px solid white;
    padding: 10px;
    color: #5B0F0E;
    background-color: white; }
    section#breaking-news .button-label:hover {
      color: red; }
  section#breaking-news a,
  section#breaking-news p {
    color: white; }
    section#breaking-news a:focus, section#breaking-news a:hover,
    section#breaking-news p:focus,
    section#breaking-news p:hover {
      color: #999999; }
  section#breaking-news .owl-pagination {
    display: none; }

#preload, section#slider #preload-slider {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;
  background: url(../../images/loader.gif) 50% 50% no-repeat #FFF; }

.title {
  font-family: "Orbitron"; }

.bg-inner {
  background-color: #EEEEEE; }
  .bg-inner hr,
  .bg-inner .page-header {
    border-color: #CCCCCC; }

.thumbnail {
  padding: 0;
  border-radius: 0;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  transition: 0.5s; }
  .thumbnail img {
    width: 100%; }
  .thumbnail:hover {
    -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
    -apple-box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.8); }

#random .thumbnail .image {
  width: 100%;
  height: 200px;
  background-position: center;
  background-size: cover;
  -webkit-filter: grayscale(50%);
  -ms-filter: grayscale(50%);
  filter: grayscale(50%);
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  transition: 0.5s; }
  #random .thumbnail .image:hover {
    -webkit-filter: grayscale(0);
    -ms-filter: grayscale(0);
    filter: grayscale(0); }

#sidebar .nav-pills {
  background-color: #000000; }
  #sidebar .nav-pills li {
    padding: 5px; }
    #sidebar .nav-pills li a {
      background: none; }
  #sidebar .nav-pills li.active {
    background-color: #5B0F0E; }

#powered .item {
  margin: 50px; }
  #powered .item .image {
    width: 100%;
    height: 100px;
    background-position: center;
    background-size: cover;
    -webkit-filter: grayscale(95%);
    -ms-filter: grayscale(95%);
    filter: grayscale(95%);
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    transition: 0.5s; }
    #powered .item .image:hover {
      -webkit-filter: grayscale(0);
      -ms-filter: grayscale(0);
      filter: grayscale(0); }
#powered .owl-pagination {
  display: none; }

.open > .dropdown-menu {
  display: inline-flex; }

.dropdown-menu > li > a {
  padding: 5px 5px; }

.gotop {
  position: fixed;
  bottom: 25px;
  right: 25px;
  padding: 10px 15px;
  background-color: rgba(0, 0, 0, 0.5);
  display: none; }
  .gotop:hover {
    background-color: #5B0F0E;
    color: white; }

footer {
  margin: 50px 0; }

@media (max-width: 768px) {
  footer .pull-right {
    float: none !important; } }

/*# sourceMappingURL=orv-magz.css.map */
