#header {
	background-color: $bg-red;
	margin-bottom: -20px;
	.top-line {
		padding: 10px;
		background-color: rgba(0,0,0,0.2);
	}
	.navbar {
		background-color: $bg-red;
		border: none;
		border-radius: 0;
		.head-navbar {
			margin: 10px auto;
		}
		.list-navbar {
			background-color: white;
		}
	}
	.form-group {
		.form-control {
			background-color: transparent;
			color: $color-light;
		}
		.btn {
			background-color: transparent!important;
			color: $color-light;
			border: 1px solid $color-light;
		}
	}
	a {
		&:focus,
		&:hover {
			color: red;
		}
	}
}

@media (max-width: 768px) {
	#header{
		.list-inline {
			text-align: center;
		}
		.social-icons.pull-right {
			float: none!important;
			text-align: center;
		}
		.navbar-toggle {
			&:focus,
			&:hover {
				background-color: transparent;
			}
		}
	}
}