#header {
	background-color: $bg-red;
	margin-bottom: -20px;
	.top-line {
		padding: 10px;
		background-color: rgba(0,0,0,0.2);
	}
	.navbar {
		background-color: $bg-red;
		border: none;
		border-radius: 0;
		.head-navbar {
			margin: 10px auto;
		}
		.list-navbar {
			background-color: white;
		}
	}
	.form-group {
		.form-control {
			background-color: transparent;
			color: $color-light;
		}
		i {
			color: $color-light;
			padding: 8px;
			border: 1px solid $color-light;
			border-radius: 4px;
		}
	}
	a {
		&:focus,
		&:hover {
			color: red;
		}
	}
}
